[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "weatherindices"]
	path = weatherindices
	url = https://github.com/akstat21/weatherindices
